body {
    background-color: rgb(158, 158, 158);
}

.title {
    width: 173px;
    font-size: xx-large;
    margin: auto;
    color: rgb(62, 62, 62);
}

.content {
    width: 50%;
    margin: auto;
    text-align: center;
}

a {
    color: #5f21ff;
}

a:hover {
    color: #8968ff;
}

img {
    width: 100%;
}

.ava {
    width: 20%;
    margin: auto;
}

.name {
    color: rgb(62, 62, 62);
    width: 220px;
    margin: auto;
    font-size: 32px;
}