body {
    background-color: rgb(158, 158, 158);
}

.title {
    font-size: xx-large;
    color: rgb(62, 62, 62);
    text-align: center;
}

.content {
    text-align: center;
}

a {
    color: #5f21ff;
}

a:hover {
    color: #8968ff;
}

img {
    width: 100%;
}

.ava {
    width: 20%;
    margin: auto;
}

.name {
    color: rgb(62, 62, 62);
    margin: auto;
    font-size: 32px;
    text-align: center;
}